<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>
  <h2>NEW WORD</h2>
  
    <div class="A new word">
      <h3>Word: <span style="font-weight:normal"><%= word %></span></h3>
      <h3>Definition: <span style="font-weight:normal"><%= definition %></span></h3>
      <h3>Pronunciation: <span style="font-weight:normal"><%= pronunciation %></span></h3>
    </div>

  
  <%- include("./partials/footer.ejs") %>
</body>
</html>