<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>
 
  
    <div class="blogs content">
      <h2>NEW WORD</h2>
      <a>
        <h2>Word: <span style="font-weight:normal"><%= word %></span></h2>
        <h2>Definition: <span style="font-weight:normal"><%= definition %></span></h2>
        <h2>Pronunciation: <span style="font-weight:normal"><%= pronunciation %></span></h2>
      </a>
    </div>

  
  <%- include("./partials/footer.ejs") %>
</body>
</html>
